PORT=3000
GITHUB_PAT=your_github_personal_access_token
GITHUB_USERNAME=Hackatoan
GITHUB_REPO=hackatoa.com
GITHUB_REPO_URL=https://${GITHUB_USERNAME}:${GITHUB_PAT}@github.com/${GITHUB_USERNAME}/${GITHUB_REPO}.git
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secretpassword
